
.cont{
  display: flex;
  

}

.prosmot_file{
  display: flex;
  justify-content: center;
}

.prosmot_file_iframe iframe{
width: 1000px;
height: 750px;
margin-left: 70px;

} 
.faculty #type_desss {
  text-transform:lowercase;
}
.left-side-nav-kaf{
  margin-left: 30px;
  margin-top: 30px;
}

.skrittreg{

  display: none;
}
.side-nav-kaf{
margin-right: 50px;
background-color: #fff;
border-radius: 8px;
padding: 20px;
box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.side-menu-kaf button{

  border-bottom: 1px solid grey;
  width:100% ;
  box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
  margin-bottom: 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: none;
}
.side-menu-kaf a{
  text-decoration: none;
  color: #000;
}

.side-menu-kaf a:hover{
  text-decoration: underline;
}

.side-menu-kaf {
  height: 400px;
  margin-top: 20px;
  margin-left: 10px;
}

.side-menu-kaf {
  text-transform: uppercase;
  font-weight: 300px;
  
  margin-bottom: 15px;
  list-style: none;
  padding: 0;
}
.side-lenta li{margin-top: 15px;
  
  border-bottom: 1px solid grey;
 
  box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
  margin-bottom: 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: none;
 
 
  }

  .table-item {
    padding-right: 30px;
  }
  
  table {
    border-spacing: 0;
  }
  
  table th, table td {
    position: relative;
    padding: 7px;
  }
  
  .table-item-title {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .table-item {
    border-bottom: 1px solid rgb(158, 158, 158);
  }

  
.bottom-tile-kaf {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 227px;
  
  background-color: rgb(224, 224, 224);
  border-top: 0.5px solid rgb(121, 121, 121);
}

.bottom-tile-kaf a{
  color: rgb(0, 0, 0);
}