/*спискт со значениями*/
.conteiner{
  margin-left: 100px;
margin-right: 100px;
padding-top: 10px;
   
font-family: 'Montserrat', sans-serif;
  
}

#des{
  display: none;
}
#des:target{
  display: table-cell;
}

#dess{
  display: none;
}
#dess:target{
  display: table-cell;
}
#desss{
  display: none;
}
#desss:target{
  display: table-cell;
}
#dessss{
  display: none;
}
#dessss:target{
  display: table-cell;
}
#desssss{
  display: none;
}
#desssss:target{
  display: table-cell;
}


.glavtext{

  color:  #559BBA;
}


/*ввод названия документов*/
.inputnamedok{
 border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 5px 10px 22px 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}
.zas{
  text-align: center;
 
text-decoration: none;
}
/*описания ввода названия документа*/
.opisinput{
  margin: 0px 0px 0px 20px;
  font-size: small;
  color: rgb(94, 94, 94);
}
.dobdocbtn{
  border-radius: 10px;
  background-color: rgb(84, 139, 223);
  color: white;
  padding: 16px 20px;
  margin: 5px 10px 22px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}

.skritpole{
  display: none;
  
}
 .border {
    margin-top: 15px;
    margin-left: 200px;
    margin-right:200px;
    }
    .spissok{
text-decoration: none;
    }
    .border h2{
      padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #52b3da; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 22px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    }
    .border h1 {
      
  
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #52b3da; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    }
  
    .border h1:hover {border-left: 10px solid transparent;}
    
