
*{
    margin: 0 ;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
}

.header{
    width:auto;
    margin: auto;
    background:#0C5DA5;
}

body {
    height: 80%;
    background-color: rgb(241, 241, 241);
}

ul, li{
    display: block;
}

.menu{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav a {
    color: #dadada;
}

.menu li a{
    text-decoration: none;
    font-size: 17px;
}

.menu li{
    list-style-type: none;
    margin-right: 40px;
}

.user-profile{
    background-color: #034569;
}

.tel{
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 100px;
}

.nav{
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: #0C5DA5;
    padding: 15px;
}

.container {
    padding: 50px;
    height: 100%;
}

.main-page{
    display: flex;
    justify-content: center;
}

.left-side-nav {
    width: 315px;
}

.side-nav {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.main-content {
    margin-left: 50px;
    margin-right: 50px;
}

.block-tile {
    max-width: 500px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.tile-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.block-tile a{
    text-decoration: none;
    color: #000;
}

.block-tile a:hover{
    text-decoration: underline;
}

.tile-title {
    font-size: 17px;
    text-transform: uppercase;
}

.author {
    margin-top: 10px;
    font-size: 15px;
}

.bottom-tile {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(224, 224, 224);
    border-top: 0.5px solid rgb(121, 121, 121);
}

.bottom-tile a{
    color: rgb(0, 0, 0);
}

.annotation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faculty {
    font-size: 15px;
}

.link-view {
    display: flex;
    align-items: center;
}

.icon-view {
    margin-right: 10px;
}

.read {
    margin-left: auto;
}

.side-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.side-menu a{
    text-decoration: none;
    color: #000;
}

.side-menu a:hover{
    text-decoration: underline;
}

.side-menu {
    height: 400px;
    margin-top: 20px;
    margin-left: 10px;
}

.side-menu li{
    margin-top: 25px;
}


.side-lenta {
    text-transform: uppercase;
    font-weight: 300px;
    
    margin-bottom: 15px;
    list-style: none;
    padding: 0;
}
.side-lenta li{margin-top: 15px;
    
    border-bottom: 1px solid grey;
   
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #000;
    text-decoration: none;
    text-transform: none;
   
   
    }
    .first li:last-child {border-bottom: none;}    




.side-lenta a {
    
    
}
.side-lenta li:hover {
    background-color: rgb(194, 192, 214);
}

.tablinkslenta{
    width: 100%;
}

.content-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.rigth-side-nav {
    width: 300px;
}

.user-raiting {
    display: flex;
    align-items: center;
}

.img-raiting-user {
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.raiting {
    font-size: 13px;
}

.user-raiting a:hover{
    text-decoration: underline;
}

.link-raiting {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.link-raiting a:hover{
    text-decoration: underline;
}