.profile-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  display: flex;
  padding: 20px;
  height: 100%;
}

.info {
  display: flex;
  align-items: center;
  border-right: 1px solid #000;
  padding-right: 40px;
}

.user-photo {
  width: 200px;
}

.block-info{
  max-width: 250px;
  margin-top: 20px;
  margin-left: 40px;
}

.block-info p{
  margin-top: 10px;
}

.doc-work {
  margin-left: 30px;
}

.table-item {
  padding-right: 30px;
}

table {
  border-spacing: 0;
}

table th, table td {
	position: relative;
  padding: 7px;
}

.table-item-title {
	border-bottom: 1px solid rgb(0, 0, 0);
}

.table-item {
	border-bottom: 1px solid rgb(158, 158, 158);
}

.bttn-download {
  background-color: rgb(184, 183, 183);
  padding: 9px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}

.bttn-download:hover {
  background-color: rgb(218, 218, 218);
}

.work-bttn {
  background-color: rgb(123, 112, 230);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: #000;
  text-decoration: none;
}

.work-bttn:hover {
  background-color: rgb(161, 153, 229);
}