 <!doctype html>
<html lang="en" style="height: 100vh;">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="static/css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/main.css">
    {% block link %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body">
  <header class="header">
      <div id="nav" class="nav">
        <ul class="menu">
            <li>
                <a href="/">
                    Главная
                </a>
            </li>
            <li>
              {%if current_user.id %}
              <a href="/profile">
                  Мой кабинет
              </a>
            
            
              {% endif%}
              
            </li>
            <li>
              {%if current_user.id %}
              <a href="/adddoc">
                  Добавить работу
              </a>
            
            
              {% endif%}
              
            </li>
        </ul>
        {%if current_user.id %}
        <a href="/logout" class="tel">
          Выход
      </a>
        {%else %}
      <a href="/reg" class="tel">
          Вход
      </a>
        {% endif%}
      
        
      </div>
  </header>
  <div class="container">
    {% block body %}
    <div class="main-page">
      <div class="left-side-nav">
        <div class="side-nav">
          <p class="side-title">Фильтрация публикаций</p>
          <ul class="side-lenta">
            <li> <a class="tablinkslenta" onclick="openLenta(event, 'lintadess')" >Диссертации</a></li>
            <li><a class="tablinkslenta" onclick="openLenta(event, 'lentamon')" >Монографии</a></li>
            <li><a class="tablinkslenta" onclick="openLenta(event, 'lentaslov')" > Cправочные  издания</a></li>
           
          </ul>
        
          <p class="side-title">Факультеты</p>
          <ul class="side-menu">
            <li><a href="/kafedrs?name='Факультет экономики, менеджмента и информационных технологий'">Факультет экономики, менеджмента и информационных технологий</a></li>
            <li><a href="/kafedrs?name='Факультет психологии и педагогического образования'">Факультет психологии и педагогического образования</a></li>
            <li><a href="/kafedrs?name='Факультет истории, искусств и крымскотатарского языка и литературы'">Факультет истории, искусств и крымскотатарского языка и литературы</a></li>
            <li><a href="/kafedrs?name='Филологический факультет'">Филологический факультет</a></li>
            <li><a href="/kafedrs?name='Инженерно-технологический факультет'">Инженерно-технологический факультет</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
          <div class="main-content">
           
            <p class="content-title">Публикации</p>
            <div class="lentatab" id="lintadess"> 
              {%for i in data %}
              <div class="block-tile" >
                <div class="tile-content">
                  <p class="tile-title"> <a href="#">{{i[0].tema}}</a></p>
                  <p class="author">Автор: <a href="#">{{i[1].name}}</a></p>
                  <div class="annotation">
                   Аннотация: {{i[0].annotation}}</div>
                  <p class="faculty">Факультет: <a href="#">{{i[1].fakultet}}</a></p>
                </div>
                <div class="bottom-tile">
                  <p class="view"><a href="#" class="link-view"><img src="../static/img/view.svg" class="icon-view">{{i[0].down}}</a></p>
                  <p class="read"><a href="/fakultebl?name={{i[0].id}}&user={{i[0].type_dess}}">Читать онлайн</a></p>
                </div>
              </div>
              {%endfor%}
            </div>
           
            <div class="lentatab" id="lentamon">
              {%for y in monogdat %}
              <div class="block-tile" >
                <div class="tile-content">
                  <p class="tile-title"> <a href="#">{{y[0].tema}}</a></p>
                  <p class="author">Автор: <a href="#">{{y[1].name}}</a></p>
                  <div class="annotation">
                    Аннотация: {{y[0].annotation}}</div>
                  <p class="faculty">Факультет: <a href="#">{{y[1].fakultet}}</a></p>
                </div>
                <div class="bottom-tile">
                  <p class="view"><a href="#" class="link-view"><img src="../static/img/view.svg" class="icon-view">{{y[0].down}}</a></p>
                  <p class="read"><a href="/prosmnon?name={{y[0].id}}&user={{y[0].type_work}}">Читать онлайн</a></p>
                </div>
              </div>
            {%endfor%}</div>
            <div class="lentatab" id="lentaslov">
              {%for x in slovodat %}
              <div class="block-tile" >
                <div class="tile-content">
                  <p class="tile-title"> <a href="#">{{x[0].tema}}</a></p>
                  <p class="author">Автор: <a href="#">{{x[1].name}}</a></p>
                  <div class="annotation">
                    Аннотация: {{x[0].annotation}} 
                  </div>
                  <p class="faculty">Факультет: <a href="#">{{x[1].fakultet}}</a></p>
                </div>
                <div class="bottom-tile">
                  <p class="view"><a href="#" class="link-view"><img src="../static/img/view.svg" class="icon-view">{{x[0].down}}</a></p>
                  <p class="read"><a href="/prosmslov?name={{x[0].id}}&user={{x[0].type_work}}">Читать онлайн</a></p>
                </div>
              </div>
              {%endfor%}</div> 
            
            
          </div>
      </div>
      <div class="rigth-side-nav">
        <div class="side-nav">
          <p class="side-title">Рейтинг преподавателей</p>
          <ul class="side-menu">
            {% for i in items %}
            <li class="user-raiting">
              <img src="../{{i.foto_url}}/{{i.avatar}}" class="img-raiting-user">
              <div>
                <p><a href="#">{{i.name}}</a></p>
                <p class="raiting">Рейтинг: <a href="#">{{i.user_rating}}</a></p>
              </div>
            </li>
            {% endfor %}
            <div class="link-raiting">
              <a href="/rating">Все преподаватели</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  <script type="text/javascript" src="../static/js/prob.js"></script>
</body>

<script>


  
function openLenta(evt,lentaName){

  var i, lenta, tablinkslenta;

    // Get all elements with class="lenta" and hide them
    lenta= document.getElementsByClassName("lentatab");
    for (i = 0; i < lenta.length; i++) {
      lenta[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinkslenta = document.getElementsByClassName("tablinkslenta");
    for (i = 0; i < tablinkslenta.length; i++) {
      tablinkslenta[i].className = tablinkslenta[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(lentaName).style.display = "block";
    evt.currentTarget.className += " active";
};




</script>
</html>