{% extends 'base.html' %}

{% block link%}
<link rel="stylesheet" href="static/css/about.css">
{% endblock%}
{% block title %}
Преподаватели
{% endblock %}


{% block body %}

<div class="contt">
   
   
    <table style="margin-top: 20px;">
        <thead> <tr class="table-title">
            <th class="table-item-title"> ФИО</th>
            <th class="table-item-title">Место работы</th>
            <th class="table-item-title">Должность</th>
            <th class="table-item-title">Кафедра</th>
            <th class="table-item-title">Рейтинг</th>
        </tr></thead>
   
    {% for item in items %}
    <tbody>
        <tr class="tabprep">
        <td  class="table-item" ><a href="/rabots?name={{ item.name }}">{{ item.name }}</a></td>
        <td class="table-item">{{ item.work }}</td>
        <td class="table-item">{{ item.status }}</td>
        <td class="table-item">{{ item.kafedra }}</td>
        <td  class="table-item" >{{ item.user_rating}}</td>
        
    </tr>
    {% endfor %}</tbody>
    
</table></div>


{% endblock %}
<script>


</script>